extends _layout.jade
.outer
  .middle
    canvas#myCanvas(height="120" width="200" resize="true")
    #letters-cnt
    #letter-suggestion-cnt
      br
      button#check-button.pure-button.pure-button-primary(disabled) Check Validity
